<style>
  section {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
  }
</style>
<main>
  <h1>Examples for filter-inputs-url</h1>
  <form data-filter-form="example">
    <section>
      <div>
        @@for (var i = 0; i < 5; i++) { <div>
          <label for="id-checkbox-`+[i]+`">
            <input id="id-checkbox-`+[i]+`" value="checkbox-`+[i]+`" data-filter="checkbox" type="checkbox">
            <span>checkbox `+[i]+`</span>
          </label>
      </div>
      }
      </div>
      <div>
        @@for (var i = 0; i < 5; i++) { <div>
          <label for="id-radio-`+[i]+`">
            <input id="id-radio-`+[i]+`" value="radio-`+[i]+`" name="radio" data-filter="radio" type="radio">
            <span>radio `+[i]+`</span>
          </label>
      </div>
      }
      </div>
      <div>
        @@for (var i = 0; i < 3; i++) { <div>
          <label for="id-select-`+[i]+`">
            <p>select `+[i]+`</p>
            <select id="id-select-`+[i]+`" data-filter="select-`+[i]+`">
              <option value="option-`+[i]+`-0">option-`+[i]+`-0</option>
              <option value="option-`+[i]+`-1">option-`+[i]+`-1</option>
              <option value="option-`+[i]+`-2">option-`+[i]+`-2</option>
            </select>
          </label>
      </div>
      }
      </div>
      <div>
        <label for="id-select-multiple">
          <p>select multiple</p>
          <select id="id-select-multiple" data-filter="select-multiple" multiple>
            <option value="option-0">option-0</option>
            <option value="option-1">option-1</option>
            <option value="option-2">option-2</option>
            <option value="option-3">option-3</option>
            <option value="option-4">option-4</option>
          </select>
        </label>
      </div>
      <div>
        <label for="id-color">
          <p>input color</p>
          <input id="id-color" data-filter="color" type="color">
        </label>
      </div>
      <div>
        <label for="id-range">
          <p>input range</p>
          <input id="id-range" data-filter="range" type="range" min="0" max="100" step="10">
        </label>
      </div>
      <div>
        <label for="id-date">
          <p>input date</p>
          <input id="id-date" data-filter="date" type="date">
        </label>
      </div>
      <div>
        <label for="id-month">
          <p>input month</p>
          <input id="id-month" data-filter="month" type="month">
        </label>
      </div>
      <div>
        <label for="id-week">
          <p>input week</p>
          <input id="id-week" data-filter="week" type="week">
        </label>
      </div>
      <div>
        <label for="id-time">
          <p>input time</p>
          <input id="id-time" data-filter="time" type="time">
        </label>
      </div>
    </section>
    <div>
      <button data-filter-reset type="reset">Reset</button>
      <button data-filter-apply type="button">Apply</button>
    </div>
  </form>
</main>
