{
  "root": true,
  "parser": "@babel/eslint-parser",
  "parserOptions": {
    "ecmaVersion": 12,
    "sourceType": "module"
  },
  "globals": {},
  "env": {
    "browser": true,
    "node": true,
    "es2021": true
  },
  "plugins": [
    "import"
  ],
  "extends": [
    "airbnb-base"
  ],
  "rules": {
    "no-underscore-dangle": "off",
    "func-names": [
      "warn",
      "as-needed"
    ],
    "quote-props": [
      "warn",
      "as-needed",
      {
        "keywords": true,
        "unnecessary": false
      }
    ]
  }
}
